In [2]:
import pandas as pd

data = pd.read_csv('test_data.csv', sep=' | ', engine='python', header=None)

def find_1478(data):
    output_values = data.iloc[:,-4:].copy()
    for x in output_values.index.values:
        output_values.iloc[x] = [len(out) for out in output_values.iloc[x].values]
    output_values = output_values.astype('int32')
    logic_df = (output_values == 4) | (output_values == 2) | (output_values == 3) | (output_values == 7)
    return logic_df.values.sum()

find_1478(data)

26

In [3]:
data = pd.read_csv('input_data.csv', sep=' | ', engine='python', header=None)
find_1478(data)

512

In [28]:
import pandas as pd
import numpy as np

data = pd.read_csv('test_data.csv', sep=' | ', engine='python', header=None)
code = data.iloc[:,:10]
row = pd.DataFrame(code.iloc[0])
row["dist"] = [len(out) for out in row.iloc[:,0].values]
row['encoded'] = np.NAN
row.loc[row.dist == 2, 'encoded'] = 1
row.loc[row.dist == 4, 'encoded'] = 4
row.loc[row.dist == 3, 'encoded'] = 7
row.loc[row.dist == 7, 'encoded'] = 8
row

         0  dist  encoded
0  acedgfb     7      8.0
1    cdfbe     5      NaN
2    gcdfa     5      NaN
3    fbcad     5      NaN
4      dab     3      7.0
5   cefabd     6      NaN
6   cdfgeb     6      NaN
7     eafb     4      4.0
8   cagedb     6      NaN
9       ab     2      1.0

In [51]:
# 9 minus 4 + 7 leaves 1
def return_diff(str1,str2):
    out = set(str1) - set(str2)
    if not out:
        return ""
    if out:
        return out

seven_string = row.loc[row.encoded == 7, 0].values[0]
four_string = row.loc[row.encoded == 4, 0].values[0]
joined_seven_4 = ''.join(set(''.join([seven_string, four_string])))
removed = [''.join(return_diff(char, joined_seven_4)) for char in row.loc[:,0].values]
row['nine'] = [len(x) for x in removed]
row.loc[(row.nine == 1) & (row.dist == 6),'encoded'] = 9
row

         0  dist  encoded  nine
0  acedgfb     7      8.0     2
1    cdfbe     5      NaN     1
2    gcdfa     5      NaN     2
3    fbcad     5      NaN     1
4      dab     3      7.0     0
5   cefabd     6      9.0     1
6   cdfgeb     6      NaN     2
7     eafb     4      4.0     0
8   cagedb     6      NaN     2
9       ab     2      1.0     0

In [71]:
row.loc[(row.encoded.isnull()) & (row.dist == 6), 0].values

array(['cdfgeb', 'cagedb'], dtype=object)

In [76]:
pattern = list('ab')
a = 's'
b = 'c'
string = f'[^{pattern[0]}{pattern[1]}]*{pattern}'
string

'[^ab]'

In [22]:


removed = [''.join(return_diff(char, joined_seven_4)) for char in row.loc[:,0].values]
row['nine'] = [len(x) for x in removed]
row.loc[(row.nine == 1) & (row.dist == 6),'nine'] = 9
row

         0  dist    one   four  seven  eight  three  nine
0  acedgfb     7  False  False  False   True      9     2
1    cdfbe     5  False  False  False  False      9     1
2    gcdfa     5  False  False  False  False      9     2
3    fbcad     5  False  False  False  False      9     1
4      dab     3  False  False   True  False      9     0
5   cefabd     6  False  False  False  False      9     9
6   cdfgeb     6  False  False  False  False      9     2
7     eafb     4  False   True  False  False      9     0
8   cagedb     6  False  False  False  False      9     2
9       ab     2   True  False  False  False      9     0

In [21]:

# [row.iloc[:,0].str.replace(val,'',regex=True) for val in set(''.join([seven_idx, four_idx]))]

5    1
Name: nine, dtype: int64

In [30]:
row

         0  dist    one   four  seven  eight  three  removed
0       be     2   True  False  False  False      0       be
1  cfbegad     7  False  False  False   True      0  cfbegad
2   cbdgef     6  False  False  False  False      0   cbdgef
3   fgaecd     6  False  False  False  False      0   fgaecd
4     cgeb     4  False   True  False  False      0     cgeb
5    fdcge     5  False  False  False  False      0    fdcge
6   agebfd     6  False  False  False  False      0   agebfd
7    fecdb     5  False  False  False  False      0    fecdb
8    fabcd     5  False  False  False  False      0    fabcd
9      edb     3  False  False   True  False      0      edb

In [31]:
joined_seven_4

'egdcb'

In [103]:
df = pd.DataFrame(row.loc[:,0])
df[0] = (
    df[0]
    .str.strip()
)
df

         0
0  acedgfb
1    cdfbe
2    gcdfa
3    fbcad
4      dab
5   cefabd
6   cdfgeb
7     eafb
8   cagedb
9       ab

In [172]:
data = pd.read_csv('test_data.csv', sep=' | ', engine='python', header=None)
code = data.iloc[:,:10]
row = pd.DataFrame(code.iloc[0])
row = row.rename(columns={0:'code'})
pd.DataFrame(row.loc[:,'code'])

      code
0  acedgfb
1    cdfbe
2    gcdfa
3    fbcad
4      dab
5   cefabd
6   cdfgeb
7     eafb
8   cagedb
9       ab

In [30]:
needs_decoding = data.iloc[:,11:]
needs_decoding

         11       12       13       14
0     cdfeb    fcadb    cdfeb    cdbaf
1   fdgacbe    cefdb   cefbgd     gcbe
2    fcgedb      cgb  dgebacf       gc
3        cg       cg   fdcagb      cbg
4    efabcd    cedba   gadfec       cb
5      gecf  egdcabf      bgf    bfgea
6   gebdcfa     ecba       ca  fadegcb
7      cefg    dcbef     fcge  gbcadfe
8        ed   bcgafe    cdgba    cbgef
9   gbdfcae      bgc       cg      cgb
10     fgae    cfgab       fg    bagce

In [5]:
import pandas as pd
import numpy as np

data = pd.read_csv('test_data.csv', sep=' | ', engine='python', header=None)
codes = data.iloc[:,:10]
needs_decoding = data.iloc[:,11:]

def create_counts(whole_str:str, letters:list):
    dictionary = dict().fromkeys([i for i in letters], 0)
    for char in letters:
        dictionary[char] = whole_str.count(char)
    return dictionary

# Get data input
row = (
    codes
    .iloc[0]
    .values
    .tolist()
)
# Create a df of data with split vals
splitdf = (
    codes
    .iloc[0]
    .str.zfill(7)
    .str.split('',expand=True)
    .iloc[:,1:8]
    .copy()
)

whole_str = ''.join(row)
letters = ['a','b','c','d','e','f','g']
counts = create_counts(whole_str, letters)
for char in letters:
    splitdf[splitdf == char] = counts[char]

row = pd.DataFrame(row)
total_vals = splitdf.astype('int32').sum(axis=1)
encoded = [8,5,2,3,7,9,6,4,0,1]
row

cypher = dict().fromkeys([i for i in total_vals],0)
for idx, key in zip(range(len(total_vals)),cypher.keys()):
    cypher[key] = encoded[idx]
cypher

# get encoded vals then decode. fix arrays.

{49: 8, 37: 5, 34: 2, 39: 3, 25: 7, 45: 9, 41: 6, 30: 4, 42: 0, 17: 1}

In [35]:
counts

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0, 'g': 0}

In [48]:
# Select column of interest
code = codes.iloc[1]
# Unpack and left fill with zeros into df
splitdf = (
    code
    .str.zfill(7)
    .str.split('',expand=True)
    .iloc[:,1:8]
    .copy()
)
# Cypher creation
letters = ['a','b','c','d','e','f','g']
whole_str = ''.join(code.values)
counts = create_counts(whole_str, letters)
for char in letters:
    splitdf[splitdf == char] = counts[char]

total_vals = splitdf.astype('int32').sum(axis=1)
decoded = [cypher[val] for val in total_vals]
code
final_cypher = dict().fromkeys([i for i in code.values], 0)
for key, val in zip(final_cypher.keys(), decoded):
    final_cypher[key] = val
final_cypher

{'be': 1,
 'cfbegad': 8,
 'cbdgef': 9,
 'fgaecd': 6,
 'cgeb': 4,
 'fdcge': 5,
 'agebfd': 0,
 'fecdb': 3,
 'fabcd': 2,
 'edb': 7}

In [12]:
import pandas as pd
import numpy as np

data = pd.read_csv('input_data.csv', sep=' | ', engine='python', header=None)

def create_counts(whole_str:str, letters:list):
    dictionary = dict().fromkeys([i for i in letters], 0)
    for char in letters:
        dictionary[char] = whole_str.count(char)
    return dictionary

def decode_wires(data):

    decoded_list = []

    for row_idx in range(len(data)):

        code = data.iloc[row_idx,:10]
        to_decode = data.iloc[row_idx,-4:]
        # Unpack and left fill with zeros into df
        splitdf = (
            code
            .str.zfill(7)
            .str.split('',expand=True)
            .iloc[:,1:8]
            .copy()
        )
        # Cypher creation: counts contains a dict where {letter: count(letter)} in code
        letters = ['a','b','c','d','e','f','g']
        whole_str = ''.join(code.values)
        counts = create_counts(whole_str, letters)

        # Replace the splitdf with letter count before getting sum
        for char in letters:
            splitdf[splitdf == char] = counts[char]

        # Get sum of each code to get unique sum value
        total_vals = splitdf.astype('int32').sum(axis=1)

        # Cypher contains dict with unique total sums to each decoded number
        decoded = [cypher[val] for val in total_vals]
        sorted_strings = [''.join(sorted(x)) for x in code.values]
        final_cypher = dict().fromkeys([i for i in sorted_strings], 0)
        for key, val in zip(final_cypher.keys(), decoded):
            final_cypher[key] = val
        final_cypher

        # Arrange letters then use as key
        to_decode = [''.join(sorted(x)) for x in to_decode.values]
        decoded_numbers = [final_cypher[key] for key in to_decode]
        string_ints = [str(int) for int in decoded_numbers]
        decoded_list.append(int(''.join(string_ints)))

    return decoded_list
sum(decode_wires(data))

1091165

In [9]:
ints = [112]
int2 = 13

ints.append(int2)
ints

[112, 13]

In [14]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,acedgfb,cdfbe,gcdfa,fbcad,dab,cefabd,cdfgeb,eafb,cagedb,ab,|,cdfeb,fcadb,cdfeb,cdbaf
1,be,cfbegad,cbdgef,fgaecd,cgeb,fdcge,agebfd,fecdb,fabcd,edb,|,fdgacbe,cefdb,cefbgd,gcbe
2,edbfga,begcd,cbg,gc,gcadebf,fbgde,acbgfd,abcde,gfcbed,gfec,|,fcgedb,cgb,dgebacf,gc
3,fgaebd,cg,bdaec,gdafb,agbcfd,gdcbef,bgcad,gfac,gcb,cdgabef,|,cg,cg,fdcagb,cbg
4,fbegcd,cbd,adcefb,dageb,afcb,bc,aefdc,ecdab,fgdeca,fcdbega,|,efabcd,cedba,gadfec,cb
5,aecbfdg,fbg,gf,bafeg,dbefa,fcge,gcbea,fcaegb,dgceab,fcbdga,|,gecf,egdcabf,bgf,bfgea
6,fgeab,ca,afcebg,bdacfeg,cfaedg,gcfdb,baec,bfadeg,bafgc,acf,|,gebdcfa,ecba,ca,fadegcb
7,dbcfg,fgd,bdegcaf,fgec,aegbdf,ecdfab,fbedc,dacgb,gdcebf,gf,|,cefg,dcbef,fcge,gbcadfe
8,bdfegc,cbegaf,gecbf,dfcage,bdacg,ed,bedf,ced,adcbefg,gebcd,|,ed,bcgafe,cdgba,cbgef
9,egadfb,cdbfeg,cegd,fecab,cgb,gbdefca,cg,fgcdab,egfdb,bfceg,|,gbdfcae,bgc,cg,cgb
10,gcafb,gcf,dcaebfg,ecagb,gf,abcdeg,gaef,cafbge,fdbac,fegbdc,|,fgae,cfgab,fg,bagce